{namespace f=TYPO3\CMS\Fluid\ViewHelpers}

<f:layout name="Default"/>

<f:section name="title">
    SAML Single Sign-On (SSO) | Backend & Frontend
</f:section>
<f:section name="head">  
</f:section>
<f:section name="content">

    <div class="app sidebar-mini rtl">

<div class="tab">
        <f:form.button class="tablinks button" id="providers_tab_btn">Providers</f:form.button>
        <f:form.button class="tablinks button" id="saml_tab_btn">SAML Settings</f:form.button>
        <f:form.button class="tablinks button" id="upgrade_tab_btn">Upgrade</f:form.button>
</div>

<input hidden id="taby" name="taby" value="{tab}">

<div id="topContainer">
    <!--Left Container-->
        <div class="container" id="leftContainer">

        <!-- PROVIDERS TAB -->
            <div class="tabcontent tabcontent-main" id="Providers">
            <form id="providers_form" method="post" name="providers">
                <input name="option" type="hidden" value="mo_saml_providers"/>

                    <h3><strong>Manage Providers</strong></h3>
                <hr>
                    <div class="tile">
                <div class="tile-footer">
                    <form action="" id="idp-add-form" method="post" name="add_provider">
                        <input name="option" type="hidden" value="add">
                                <button class="btn btn-primary" id="add_provider" name="add_provider"
                                        style="margin-right:10px;"
                                type="submit" >Add Provider
                        </button>
                    </form>
                </div>
                <br>
                <div style="height: 70% ; ">

                    <table class="profileTable display table table-condensed table-striped table-hover table-bordered table_header_font">

                        <thead>
                        <tr>
                            <th class='align_header'>Identity Provider Name</th>
                            <th class="align_header">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <f:for as="row" each="{conf_providers}">
                            <tr>
                                <td style="width: 50%; vertical-align: middle">{row.sp_name}</td>

                                <td>
                                    <table style="width: 100%;">

                                        <tr>
                                            <td style="border-color: white">
                                                <form action="" id="idp-delete-form" method="post"
                                                      name="delete_provider">
                                                    <input id="sp_name" name="sp_name" type="hidden"
                                                           value="{row.sp_name}">
                                                    <input name="option" type="hidden" value="delete">
                                                            <button class="btn btn-primary" id="delete" name="delete"
                                                                    type="submit"
                                                                    >Delete
                                                            </button>
                                                </form>
                                            </td>

                                            <td style="border-color: white">
                                                <form action="" id="idp-edit-form" method="post"
                                                      name="edit_provider">
                                                    <input name="sp_name" type="hidden" value="{row.sp_name}">
                                                    <input name="option" type="hidden" value="edit">
                                                            <button class="btn btn-primary" id="edit" name="edit"
                                                                    type="submit"
                                                                    >Edit
                                                            </button>
                                                </form>
                                            </td>

                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </f:for>
                    </table>
                    </tbody>
                        </div>
                </div>
            </form>
        </div>

        <!--   IDENTITY PROVIDER TAB-->
            <div class="tabcontent tabcontent-main" id="Identity_Provider">
            <!--   IDENTITY PROVIDER SETTINGS    -->

            <h3><strong>Identity Provider Metadata</strong> <a href="https://plugins.miniorange.com/typo3-saml-idp-setup-guides"
                target="_blank">(Setup Guide)</a></h3>
            <hr>
            <div class="tile">

                <form action="" id="saml_form" method="post">
                    <input name="option" type="hidden" value="save_connector_settings"/>

                    <div class="form-group">
                        <label for="sp_name"><b>Service Provider Name</b> <span
                                class="premiumMessage"> * </span></label>
                        <input class="form-control" id="sp_name" name="sp_name" required type="text" value="{conf_idp.sp_name}"
                               />

                    </div>
                    <div class="form-group">
                        <label for="idp_entity_id"><b>IDP Entity ID/Issuer</b> <span
                                class="premiumMessage"> * </span></label>
                        <input class="form-control" id="idp_entity_id" name="idp_entity_id" required type="text" value="{conf_idp.idp_entity_id}"
                               >
                        <p><i class="fa fa-question-circle" style="color:cadetblue; padding-left:5px;">You can enter
                            Base URL here.</i>
                    </div>

                    <div class="form-group">
                        <label for="saml_login_url"><b>SAML Login URL</b> <span
                                class="premiumMessage"> * </span></label>
                        <input class="form-control" id="saml_login_url" name="saml_login_url" required type="text"
                               value="{conf_idp.saml_login_url}" >
                        <p><i class="fa fa-question-circle" style="color:cadetblue; padding-left:5px;">You can enter
                            your Fesaml Page URL here.</i>
                    </div>
                    <div class="form-group" style="border: black">
                        <label for="x509_certificate"><b>SAML x509 Certificate</b> <span
                                class="premiumMessage"> * </span></label>
                        <textarea class="form-control" disabled id="x509_certificate" name="x509_certificate" required
                                  rows="5" >-----BEGIN CERTIFICATE-----
                                    MIID/zCCAuegAwIBAgIJAMePaIrAItqFMA0GCSqGSIb3DQEBCwUAMIGVMQswCQYD
                                    VQQGEwJJTjEUMBIGA1UECAwLTUFIQVJBU0hUUkExDTALBgNVBAcMBFBVTkUxEzAR
                                    BgNVBAoMCk1JTklPUkFOR0UxEzARBgNVBAsMCk1JTklPUkFOR0UxEzARBgNVBAMM
                                    Ck1JTklPUkFOR0UxIjAgBgkqhkiG9w0BCQEWE2luZm9AbWluaW9yYW5nZS5jb20w
                                    HhcNMTYwMjA4MTYzNzMzWhcNMjYwMjA1MTYzNzMzWjCBlTELMAkGA1UEBhMCSU4x
                                    FDASBgNVBAgMC01BSEFSQVNIVFJBMQ0wCwYDVQQHDARQVU5FMRMwEQYDVQQKDApN
                                    SU5JT1JBTkdFMRMwEQYDVQQLDApNSU5JT1JBTkdFMRMwEQYDVQQDDApNSU5JT1JB
                                    TkdFMSIwIAYJKoZIhvcNAQkBFhNpbmZvQG1pbmlvcmFuZ2UuY29tMIIBIjANBgkq
                                    hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA8ST88BPBNQBVVPq5jBcFI0SPNQVKe0P6
                                    4z9cVELD796r79WGp07da9NaSO3w+DG6DkjEGvYwahKCS9GzxQMTq7p5yHU2ay2h
                                    aIMWhoodAzobnlAbG23h1kTOxbxeExpU8xqSIe+3wzIqKQynlIv4xmEh+My8cLvf
                                    DOvuMmkfVkLRSORmeqTAI/weNO3hKbQ3sKQL9fRgBE8MipeKDcKBoPt9I+rArhso
                                    v/V2a1Qo2dy18cy4ym81n+8EIvgmba6rZckhLf6Urkh5cZnKtYpyLzd3Dx4ho6w4
                                    YUlj7LYCait16rAxcAg0CyJe4TLlk0wVfJ6WYCKIQEXJfZQi5Qdr+QIDAQABo1Aw
                                    TjAdBgNVHQ4EFgQU3Mp268a2wkuy4lkHJwYz1p+BMD8wHwYDVR0jBBgwFoAU3Mp2
                                    68a2wkuy4lkHJwYz1p+BMD8wDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOC
                                    AQEAcRg44YpnKS0yjd+IByIxqModT6N86QzfcmcHEXCkAN8HWb6pEj0/BBWMb/Bt
                                    SpZNCzrk99y30rAzZxF2yNdvG+0NO1g48/bnE9Usg4DoYZTQ1jsh/2shALPRu6RH
                                    HFmGtoqRtQzPgUoOuzBJg2/+rTFM65snTQc3uaOZu440bhwMbI/mrD6Si2jw0/7d
                                    uET+zPo5BJl1YRrX4EuzP4/ZV2MiD1Pwy0/QZ27mqSsaFILGG/bG4YwsQ73ODKVn
                                    GTV+AezX2owcZF5QqDRGX5fG0d094JdSFCCvoWdCIBYSvnnCXQiq5nV8l2p3SRAl
                                    EfCUl6tQwLsTOgUKXgcp1+L/AQ==
                                    -----END CERTIFICATE-----</textarea>
                    </div>

                    &nbsp
                    <div class="tile-footer">
                        <button class="btn btn-primary" id="submit_saml_form" name="submit_saml_form"
                                style="margin-right:10px;" type="button" >Save
                        </button>
                    </div>
                    <hr>
                    <h4><strong>--- Please save the above details before using XML metadata ---</strong></h4>
                    <div style="padding:2%; border: 2px solid grey">
                        <label><b> Metadata URL : </b></label>
                        <a class="metadata_url"
                           href="{conf_idp.saml_login_url}?option=mosaml_metadata&sp_name={conf_idp.sp_name}"
                           id="metadata_url" target="_blank"> Show Metadata &nbsp</a>
                        <div class="tooltip_meta" {xml_download}>
                            <a class="btn btn-primary" id="copy"
                               style="text-decoration:none" style="margin-right:40px;" target="_blank"
                               {idp_metadata_enable} {idp_metadata_enable} ><span
                                    class="tooltiptext" id="myTooltip">Copy to clipboard</span>Copy URL</a>
                        </div>
                        <br><br>

                        <div>
                            <input id="metadata_download" name="option" type="hidden" value="" {xml_download}>
                            <label>You can download the metadata XML from here : </label>
                            <a style="text-decoration:none" target="_blank">
                                <button class="btn btn-primary" id="download_metadata" name="option"
                                        style="margin-right:40px;" type="button" {idp_metadata_enable}
                                        >Download
                                </button>
                            </a>
                        </div>
                    </div>
                    <br>
                </form>
            </div>

            <h3><strong>Service Provider Settings</strong></h3>
            <p class="premiumMessage" style={showIDPSaveMessage}>[Please save Identity Provider Settings to unlock
                Service Provider Settings]</p>
            <hr>
            <div class="tile">
                <form action="" id="sp_settings" method="post">

                    <input id="idp_metadata_save" name="option" type="hidden" value="save_sp_settings"/>
                    <input id="sp_name" name="sp_name" type="hidden" value="{conf_idp.sp_name}"/>

                    <div class="form-group">
                        <label for="sp_name"><b>Service Provider Name</b> <span
                                class="premiumMessage"> * </span></label>
                        <input class="form-control" disabled id="sp_name" name="sp_name" required type="text" value="{conf_idp.sp_name}"
                               />

                    </div>

                    <div class="form-group">
                        <label for="sp_entity_id"><b>SP Entity ID or Issuer</b> <span class="premiumMessage"> * </span></label>
                        <input class="form-control" id="sp_entity_id" name="sp_entity_id" required type="text"
                               value="{conf_sp.sp_entity_id}" {idp_metadata_enable} />

                    </div>


                    <div class="form-group">
                        <label for="acs_url"><b>ACS URL</b> <span class="premiumMessage"> * </span></label>
                        <input class="form-control" id="acs_url" name="acs_url" required type="text" value="{conf_sp.acs_url}"
                               {idp_metadata_enable} >

                    </div>

                    <div class="form-group">
                        <label for="sp_entity_id"><b>NameID Format</b> <span
                                class="premiumMessage"> * </span></label><br>
                        <select class="form-control" id="nameid_format" name=
                                "nameid_format" {idp_metadata_enable}>
                            <option value="emailAddress" {conf_sp.sp_email_selected}>
                                urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress
                            </option>
                            <option value="unspecified" {conf_sp.sp_unspecified_selected}>
                                urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified
                            </option>
                            <option value="transient" {conf_sp.sp_transient_selected}>
                                urn:oasis:names:tc:SAML:2.0:nameid-format:transient
                            </option>
                            <option value="persistent" {conf_sp.sp_persistent_selected}>
                                urn:oasis:names:tc:SAML:2.0:nameid-format:persistent
                            </option>
                        </select>

                        <i>
                            NOTE: Select urn:oasis:names:tc:SAML:1.1:nameid-format:<b>emailAddress</b> by default
                        </i>
                    </div>

                    <div class="form-group">
                        <label for="sp_entity_id"><b>Default RelayState</b> (optional)</label>
                        <input class="form-control" id="sp_default_relaystate" name="sp_default_relaystate" type="text"
                               value="{conf_sp.sp_default_relaystate}" {idp_metadata_enable} />

                    </div>

                    <div class="form-group">
                        <input class="form-control" id="response" name="response" type="hidden" value="{conf_sp.acs_url}">
                    </div>

                    <div class="form-group">
                        <input class="form-control" id="site_base_url" name="site_base_url" type="hidden" value="{conf_sp.sp_entity_id}">
                    </div>

                    <div class="tile-footer form-group">
                        <button class="btn btn-primary" id="sp_setting_form" name="sp_settings_form"
                                style="margin-right:40px;" type="button"
                                {idp_metadata_enable} >Save
                        </button>

                    </div>

                </form>
            </div>
        </div>

        </div>

        <div class="tabcontent tabcontent-main" id="Upgrade">

            <h3><strong>Upgrade to Premium</strong></h3>
            <hr>
            <div class="tile">
        <section class="pricing py-5">

            <div class="container">

                <div class="row">

                    <!-- Pro Tier -->
                    <div class="columns">

                        <ul class="price">

                            <li class="header"><strong>Free (v1.0.5)</strong></li>

                            <li>&#10004Authentications (Upto 10 users)</li>

                            <li>&#10004SP Initiated Login</li>

                            <li>&#10004Signed Assertion</li>

                            <li>&#10004Metadata XML File</li>

                            <li>&#10004Metadata XML URL</li>

                            <li><s>Multiple Service Providers Support</s></li>

                            <li><s>Multisite Support</s></li>

                        </ul>

                    </div>
                    <div class="columns">

                        <ul class="price">

                            <li class="header"><strong>Premium <a href="https://portal.miniorange.com/initializepayment?requestOrigin=typo3_saml_idp_premium_plan"
                                target="_blank">(Upgrade Now)</a></strong></li>

                            <li>&#10004Authentications (Depending on the number of users purchased)</li>

                            <li>&#10004SP Initiated Login</li>

                            <li>&#10004Signed Assertion</li>

                            <li>&#10004Metadata XML File</li>

                            <li>&#10004Metadata XML URL</li>

                            <li>&#10004Multiple Service Providers Support</li>

                            <li>&#10004Multisite Support</li>

                        </ul>
                    </div>
                </div>
                <div style="margin:2% 0 2% 2%;">

                    <form action="' . $hostname . '/moas/login" id="mocf_loginform" method="post"

                          style="display:none;" target="_blank">

                        <input name="username" type="email" value="' . $email . '">

                        <input name="redirectUrl" type="text" value="' . $hostname . '/moas/initializepayment">

                        <input id="requestOrigin" name="requestOrigin" type="text">

                    </form>

                </div>

            </div>

        </section>
            </div>
    </div>

    <div id="rightContainer">

            <div class="tabcontent tabcontent-support" id="Support">
            <h3><strong>Support</strong></h3>
            <hr>
                    <div class="tile">
                                <form action="" id="support_form" method="post">
                                    <p><b>Need any help? We can help you in configuring the connector with your Identity
                                        Provider. Just send us a query and we will get back to you soon.</b></p>
                                    <input name="option" type="hidden" value="mo_saml_contact_us_query_option"/>
                        
                                    <div class="form-group">
                                        <input class="form-control" name="mo_saml_contact_us_email" placeholder="Enter your email"
                                               type="text" value="">
                                    </div>

                                    <div class="form-group">
                                        <input class="form-control" name="mo_saml_contact_us_phone" placeholder="Enter your phone number"
                                               type="tel">
                                    </div>

                                    <div class="form-group">
                                        <textarea class="form-control" name="mo_saml_contact_us_query" placeholder="Enter your query here"
                                                  rows="6"></textarea>
                                    </div>
                                    <div class="tile-footer">
                            <button class="btn btn-primary" name="submit" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</f:section>
